<odoo>
    <data>
        <report
            id="report_id_{{ report_name_snake }}"
            model="{{ model_name }}"
            string="{{ report_label }}"
            report_type="{{ report_type }}"
            name="{{ module_name }}.report_template_{{ report_name_snake }}"
            file="{{ module_name }}.report_template_{{ report_name_snake }}"
            print_report_name="(object.name or '').replace('/', '')"
        />
    </data>
</odoo>
