<odoo>
    <data noupdate="1">
        {% for group in security_groups %}
        <record id="group_{{ group.name | lower | replace(' ', '_') }}" model="res.groups">
            <field name="name">{{ group.category }}{{ group.name }}</field>
            <field name="comment">{{ group.description | default('User group for ' + group.name) }}</field>
            {% if group.implied_ids %}
            <field name="implied_ids" eval="[(4, ref('base.group_user')), (4, ref('{{ group.implied_ids | join("')), (4, ref('") }}'))]"/>
            {% else %}
            <field name="implied_ids" eval="[(4, ref('base.group_user'))]"/>
            {% endif %}
        </record>

        {% for rule in group.rules %}
        <record id="access_{{ group.name | lower | replace(' ', '_') }}_{{ rule.model_name | lower | replace('.', '_') }}" model="ir.model.access">
            <field name="name">{{ group.name }} Access to {{ rule.model_name }}</field>
            <field name="model_id" ref="{{ rule.model_name | lower | replace('.', '_') }}"/>
            <field name="group_id" ref="group_{{ group.name | lower | replace(' ', '_') }}"/>
            <field name="perm_read">{{ rule.perm_read }}</field>
            <field name="perm_write">{{ rule.perm_write }}</field>
            <field name="perm_create">{{ rule.perm_create }}</field>
            <field name="perm_unlink">{{ rule.perm_unlink }}</field>
        </record>
        {% endfor %}
        {% endfor %}
    </data>
</odoo>
