id,name,model_id:id,group_id:id,perm_read,perm_write,perm_create,perm_unlink
{% for model in models %}
access_{{ model.name | replace('.', '_') }}_user,{{ model.label | default(model.name) }} Access,model_{{ model.name | replace('.', '_') }},base.group_user,1,1,1,1
{% endfor %}
